@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;

    .loader {
        position: fixed;
        z-index: 999999999;
        background: #ffffffd9;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(15px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
    }

    .container {
        max-width: 1440px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none !important;
    }

    .card,
    .card-body {
        background-color: #000;
        border-radius: 40px 0;
    }

    .navBar {
        padding: 40px 0 20px;
        backdrop-filter: blur(10px);
        background: #0000007a;
        box-shadow: 0 5px 10px #c0c0c07d;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;

        a {

            h4 {
                font-size: 30px;
                color: #fff;
            }
        }

        a {
            color: rgb(148, 148, 148);
            font-size: 20px;
            margin-right: 50px;
            padding-bottom: 25px;
            transition: all .3s ease-in-out;
            border-bottom: 1px solid transparent;

            &.active,
            &:hover {
                border-color: #fff;
                color: #fff;
            }
        }
    }

    .navbarLine {
        padding-bottom: 127px;
    }

    .header {
        padding: 50px 0;

        img {
            border-radius: 0 160px;
        }

        .card,
        .card-body {
            background-color: #000;
            border-radius: 40px 0;
        }

        .card {
            transition: all .3s ease-in-out;

            .card-body {

                img {
                    border-radius: 30px 0;
                    transition: all .3s ease-in-out;
                }

                h5 {
                    color: #fff;
                }

                p {
                    color: #efefee;
                    font-size: 18px;
                }
            }

            &:hover {
                box-shadow: 0 0 10px rgba(192, 192, 192, 0.445);

                .card-body {

                    img {
                        transform: rotate(-4deg) scale(1.1);
                    }
                }
            }
        }
    }

    .seeUser {
        padding: 100px 0;

        img {
            border-radius: 0 100px ;
        }

        h3 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        a {
            font-size: 20px;
        }

    }

    .login, .register {
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

        .card {
            box-shadow: 0 0 10px silver;

            input, .btn {
                border-radius: 20px 0;
            }

        }
    }

    .profile {
        padding: 50px 0;
        
    }
}